// out: ./styl.css, compress: true, sourceMap: true
@import 'normalize', 'rem', 'font', 'color', 'mixin', 'default';

/* basic */
$min-width: 320px;
$img-url: '../images';
$screen-size-pc: 1200px;
$screen-size-mobile: max($screen-size-pc);

// * {
//   @include ani(0.3s);
// }

html {
  min-width: $min-width;
  max-width: 100%;
  font-size: 14px;
  height: -webkit-fill-available;
}

html,
body {
  font-family: $myfont, 'Malgun Gothic', 'apple sd gothic neo', sans-serif;

  &.lock {
    height: 100vh;
    overflow: hidden;
  }
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  &.on{
    overflow: hidden;
    @media (min-width: $screen-size-pc) {
      overflow: auto;
    }
    
  }
  .container {
    @include container(100%);
    text-align: left;
    vertical-align: top;
    padding: 0 15px;

    @media (min-width: $screen-size-pc) {
      @include container($screen-size-pc);
      padding: 0;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* header */
  header {
    position:relative;
    z-index:2;
    height: 50px;
    text-align: center;
    background:#fff;
		@include drop-shadow($x:0,$y: 3px, $blur: 6px, $spread: 0, $alpha: 0.16);

    @media (min-width: $screen-size-pc) {
      height: 100px;
    }

    .container {
      h1 {
        margin:12px 0 0;

        @media (min-width: $screen-size-pc) {
          margin:28px 0 0;
        }

        a {
          display:block;
          position:relative;
          padding:0 0 0 60px;
          width:292px;
          margin:0 auto;
          font-size:16px;
          font-weight:800;
          color:#222;

          @media (min-width: $screen-size-pc) {
            padding:0 0 0 100px;
            font-size:26px;
            width:500px;
            margin:0;
          }

          &::before {
            content:"";
            display:block;
            position:absolute;
            left:0;
            top:0;
            width:52px;
            height:21px;
            background: url("../../images/parking/logo.svg") no-repeat center / 100% auto;

            @media (min-width: $screen-size-pc) {
              width:92px;
              height:36px;
            }
          }
          
        }
      }

      &>a {
        display:none;

        @media (min-width: $screen-size-pc) {
          display:block;
          position:absolute;
          right:0;
          top:36px;
          width:180px;
          height:22px;
          font-size:0;
          background:url(../../images/parking/logo-eticket.svg) no-repeat center / 100% auto;
        }
      }
    }
  }




  div#content {
    /* MAIN */
    &.main {

      section.main-top {
        background:url(../../images/parking/main.png) no-repeat center / cover;
        text-align:center;

        div.container {
          height:240px;
          text-align:center;

          @media (min-width: $screen-size-pc) {
            height: 720px;
            text-align:left;
          }

          h3 {
            color:#fff;
            font-weight:600;
            font-size:28px;
            margin:60px 0 0;
            @include text-shadow($string:0 1px 3px rgba(0, 0, 0, 0.50));

            @media (min-width: $screen-size-pc) {
              font-size:40px;
              margin:180px 0 0;
            }

            small {
              display:block;
              font-weight:400;
              font-size:16px;

              @media (min-width: $screen-size-pc) {
                font-size:22px;
              }
  
            }
          }

        }
      }

      section.main-links {

        @media (min-width: $screen-size-pc) {
          position:absolute;
          left:0;
          right:0;
          top:100px;
          text-align:center;
        }

        div.container {
          padding-bottom:20px;

          @media (min-width: $screen-size-pc) {
            font-size:0;
            padding:190px 0 0;
            text-align:right;
          }

          div {
            position:relative;
            margin:0;
            text-align:center;
            color:#222;

            @media (min-width: $screen-size-pc) {
              display:inline-block;
              vertical-align:bottom;
            }

            

            h4 {
              font-size:22px;
              font-weight:800;
              margin:0 0 16px;

              @media (min-width: $screen-size-pc) {
                font-size:28px;
              }
  
            }
  
            p {
              margin:0;
              font-size:14px;

              @media (min-width: $screen-size-pc) {
                font-size:16px;
                min-height:46px;
              }
  
              span {
                display:block;
              }
            }
  
            a {
              display:block;
              font-size:14px;
              color:#fff;
              background:#0A79CE;
              width:138px;
              line-height:38px;
              border-radius:6px;
              margin:25px auto 0;

              @media (min-width: $screen-size-pc) {
                margin:35px auto 0;
                font-size:20px;
                width:180px;
                line-height:50px;
              }
            }
  
            &.application {
              background:#fff;
              padding:110px 0 38px;

              @media (min-width: $screen-size-pc) {
                width:445px;
                height:375px;
                padding:156px 0 0;
              }
  
              &::before {
                content:"";
                display:block;
                position:absolute;
                top:-95px;
                left:50%;
                transform:translateX(-50%);
                width:240px;
                height:190px;
                background:url(../../images/parking/icon-application.svg) no-repeat center / 100% auto;

                @media (min-width: $screen-size-pc) {
                  width:324px;
                  height:256px;
                  top:-114px;
                }
              }
            }
  
            &.check {
              background:#2F4150;
              padding:26px 0 38px;
              color:#fff;

              @media (min-width: $screen-size-pc) {
                width:300px;
                height:375px;
                padding:156px 0 0;
                background:url(../../images/parking/icon-check.svg) no-repeat #2F4150 center top 50px  / 98px auto;
              }
  
              a {
                background:#0B161F;
  
              }
              
            }
  
          }

        }

      }
    }

    &.sub {

      section.sub-content {
        text-align:center;
        min-height:300px;

        div.container {
          padding-top:40px;
          padding-bottom:30px;

          @media (min-width: $screen-size-pc) {
            padding-top:60px;
            padding-bottom:50px;
          }

          ul.navigation {
            display:none;

            @media (min-width: $screen-size-pc) {
              display:block;
              position:absolute;
              right:0;
              top:20px;
              list-style:none;
              margin:0;
              padding:0;
              font-size:0;

              li {
                display:inline-block;
                font-size:14px;
                color:#222;

                &::before {
                  content:"/";
                  color:#CCCCCC;
                  padding:0 5px;
                }

                &:first-child {
                  &::before {
                    display:none;
                  }
                }
              }
            }
          }

          h3.stitle {
            text-align:center;
            font-size:20px;
            margin:0 0 30px;
            font-weight:800;
            word-break:keep-all;

            @media (min-width: $screen-size-pc) {
              font-size:40px;
              margin:0 0 40px;
            }

            &::after {
              content:"";
              display:block;
              width:60px;
            }
          }

          h4.btitle {

            font-size:18px;
            margin:0 0 10px;
            font-weight:800;
            word-break:keep-all;

            @media (min-width: $screen-size-pc) {
              font-size:22px;
              margin:0 0 20px;
            }
          }


          u {
            text-decoration:none;
            font-weight:500;
            color:#D64646;
          }

          p.text {
            margin:0 0 10px;
            font-size:14px;
            color:#555;
            word-break:keep-all;

            @media (min-width: $screen-size-pc) {
              font-size:16px;
            }

            &.center {
              text-align:center;
            }

          }

          p.attention {
            position:relative;
            padding:0 0 0 18px;
            margin:0 0 10px;
            font-size:14px;
            color:#555;
            word-break:keep-all;

            @media (min-width: $screen-size-pc) {
              font-size:16px;
              padding:0 0 0 20px;
              
            }

            &::before {
              content:"※";
              display:block;
              position:absolute;
              left:0;
              top:0;

            }

            @media (min-width: $screen-size-pc) {
              font-size:16px;
            }

            span {
              display:block;
            }

          }

          i.error {
            font-size:14px;
            line-height:32px;
            font-style:normal;
            color:#D64646;

            @media (min-width: $screen-size-pc) {
              font-size:16px;
              padding:0 20px;
            }

            &.center {
              display:block;
              text-align:center;
            }
          }

          dl.text-box {
            margin:20px 0;

            @media (min-width: $screen-size-pc) {

              width:100%;
              
            }
            
            dt {
              background:#0A79CE;
              padding:10px;
              text-align:center;
              color:#fff;
              font-size:16px;
              font-weight:500;

              @media (min-width: $screen-size-pc) {
                float:left;
                width:260px;
                height:100%;
                text-align:left;
                padding:30px;
                font-size:26px;
                font-weight:600;
                background:none;
                color:#222;
                
              }
              
            }

            dd {
              padding:10px;
              margin:0 0 20px;
              border:1px solid #0A79CE;
              font-size:14px;

              @media (min-width: $screen-size-pc) {
                position:relative;
                padding:30px 30px 30px 280px;
                min-height:100px;
                border-color:#ccc;
                font-size:16px;

                &::before {
                  content:"";
                  display:block;
                  position:absolute;
                  z-index:-1;
                  left: 240px;
                  top:30px;
                  bottom:30px;
                  width:1px;
                  background:#ccc;
                }
              }
            }
          }


          ul.text {
            list-style:none;
            margin:0 0 20px;
            padding:0;

            li {
              position:relative;
              padding:0 0 0 14px;
              margin:0 0 6px;
              font-size:14px;
              word-break:keep-all;

              @media (min-width: $screen-size-pc) {
                font-size:16px;
                
              }

              &::before {
                content:"";
                display:block;
                position:absolute;
                left:0;
                top:8px;
                width:3px;
                height:3px;
                background:#999;

              }

              div.ex-box {
                background:#f4f4f4;
                padding:10px;
                margin:10px 0;

                @media (min-width: $screen-size-pc) {
                  padding:20px;
                  margin:20px 0;
                  
                }

                strong {
                  display:block;
                  font-weight:600;
                  margin:0 0 5px;
                }
              }
            }
          }

          ul.chart {
            list-style:none;
            margin:0;
            padding:0;
            font-size:0;

            li {
              display:inline-block;
              position:relative;
              font-size:14px;
              background:#A8BFD4;
              vertical-align:top;
              border-radius:10px;
              margin:0 30px 10px 0;
              text-align:center;
              padding:20px 0;
              width:80px;
              height:100px;
              word-break:keep-all;

              @media (min-width: $screen-size-pc) {
                font-size:16px;
                width:95px;
                height:110px;
              }
              

              &.type {
                background:#BED4A8;
              }

              p {
                margin:0;
              }

              i {
                position:absolute;
                font-size:30px;
                right:-30px;
                top:50%;
                transform:translateY(-50%);
                color:#aaa;
              }
            }
          }
          div.text-table01 {
            overflow-x:scroll;
            margin:0 0 20px;

            @media (min-width: $screen-size-pc) {
              overflow-x:auto;
            }

            table {
              border-top:2px solid #004C85;
              min-width:600px;

              @media (min-width: $screen-size-pc) {
                min-width:100%;
              }
  
  
              thead {
                background:#0A79CE;
  
                tr {
                  th {
                    text-align:center;
                    font-weight:500;
                    font-size:14px;
                    border-right:1px solid #ccc;
                    border-bottom:1px solid #ccc;
                    color:#fff;
                    padding:10px 0;

                    @media (min-width: $screen-size-pc) {
                      font-size:16px;
                      padding:15px 0;
                    }
  
                    &:last-of-type {
                      border-right:none;
                    }
                  }
                  
                }
              }
  
              tbody {
                tr {
                  th {
                    border-bottom:1px solid #ccc;
                    padding:10px 5px;
                    text-align:center;
                    font-weight:500;
                    background:#eee;
                    font-size:14px;

                    @media (min-width: $screen-size-pc) {
                      font-size:16px;
                      padding:20px 0;
                    }
  
                  }
  
                  td {
                    text-align:center;
                    word-break:keep-all;
                    font-size:14px;
                    border-left:1px solid #ccc;
                    border-bottom:1px solid #ccc;
                    width:42%;
                    padding:10px 5px 5px;

                    @media (min-width: $screen-size-pc) {
                      font-size:16px;
                      padding:20px 10px 15px;
                    }

                    p {
                      margin:0 0 5px;
                    }
  
                  }
  
                }
              }
            }
          }

          ul.parking-list {
            margin:0;
            padding:0;
            list-style:none;
            font-size:0;

            li {
              position:relative;
              border:2px solid #A1A1A1;
              @include drop-shadow($x:0,$y: 6px, $blur: 14px, $spread: 0, $alpha: 0.16);
              padding:20px;
              margin:0 0 20px;

              @media (min-width: $screen-size-pc) {
                display:inline-block;
                vertical-align:top;
                width:calc(50% - 10px);
                margin:0 0 30px;
                padding:30px;

                &:nth-child(odd) {
                  margin-right:20px;
                }
              }

              h4 {
                margin:0 0 24px;
                text-align:center;
                font-size:22px;
                color:#888888;
                font-weight:700;

                @media (min-width: $screen-size-pc) {
                  text-align:left;
                  font-size:27px;
                  margin:0 0 32px;
                }

                small {
                  display:block;
                  text-align:right;
                  color:#999999;
                  font-size:14px;
                  font-weight:400;
                  margin:10px 0 0;

                  @media (min-width: $screen-size-pc) {
                    position:absolute;
                    right:30px;
                    top:30px;
                  }

                  strong {
                    font-size:20px;
                    font-weight:700;
                  }
                }
              }

              dl {
                margin:0;
                padding:0;

                @media (min-width: $screen-size-pc) {
                  min-height:260px;
                }

                dt {
                  font-size:16px;
                  color:#222222;
                  font-weight:500;

                  @media (min-width: $screen-size-pc) {
                    float:left;
                    width:80px;
                  }
                }

                dd {
                  margin:0 0 16px;
                  font-size:16px;
                  color:#555555;

                  @media (min-width: $screen-size-pc) {
                    margin:0 0 16px 90px;
                  }
                }
              }


              span,
              a {
                display:block;
                text-align:center;
                font-size:16px;
                color:#999999;
                font-weight:700;
                line-height:48px;
                background:#E4E4E4;
                border-radius:6px;
              }

              a {
                background:#0A79CE;
                color:#fff;
              }

              &.open {
                border-color:#0A79CE;


                h4 {
                  color:#222;

                  small {
                    color:#0A79CE;
                  }
                }
              }

            }
          }

          div.parking-head {
            border:2px solid #0A79CE;
            @include drop-shadow($x:0,$y: 6px, $blur: 14px, $spread: 0, $alpha: 0.16);
            margin:0 0 30px;

            @media (min-width: $screen-size-pc) {
              margin:0 0 40px;
            }


            h4 {
              margin:0;
              text-align:center;
              font-size:22px;
              color:#222;
              font-weight:700;
              border-bottom: 1px solid #ccc;
              padding:20px 0;
              background:#efefef;

              @media (min-width: $screen-size-pc) {
                text-align:left;
                font-size:27px;
                padding-left:30px;
              }

            }

            dl {
              margin:0;
              padding:20px 20px 4px;

              @media (min-width: $screen-size-pc) {
                padding:30px 30px 14px;
              }

              dt {
                font-size:14px;
                color:#222222;
                font-weight:500;
                float:left;
                width:80px;

                @media (min-width: $screen-size-pc) {
                  font-size:16px;
                }
              }

              dd {
                margin:0 0 16px;
                margin:0 0 16px 90px;
                color:#555555;
                font-size:14px;

                @media (min-width: $screen-size-pc) {
                  font-size:16px;
                }
              }
            }

          }

          fieldset.input-form {
            margin:0 0 30px;
            padding:0;
            border:1px solid #ccc;
            padding:20px 20px 10px;

            @media (min-width: $screen-size-pc) {
              margin:0 0 40px;
              padding:30px 30px 20px;
            }
            
            dl {
              margin:0;

              @media (min-width: $screen-size-pc) {
              }

              dt {
                float:left;
                width:80px;
                line-height:36px;
                font-size:14px;
                color:#222222;
                font-weight:500;

                @media (min-width: $screen-size-pc) {
                  width:100px;
                  line-height:46px;
                  font-size:16px;
                }
              }

              dd {
                margin:0 0 10px 90px;
                font-size:0;

                @media (min-width: $screen-size-pc) {

                  margin-left:0;
                  margin-bottom:20px;
                }

                input[type=text],
                input[type=date],
                select  {
                  width:100%;
                  height:36px;
                  border:1px solid #ccc;
                  background:#f4f4f4;
                  padding:0 10px;
                  font-size:14px;

                  @media (min-width: $screen-size-pc) {
                    width:400px;
                    height:46px;
                    font-size:16px;
                  }

                  &::placeholder {
                    color:#999
                  }
                }

                &.with-btn {

                  input[type=text]  {
                    width:calc(100% - 100px);

                    @media (min-width: $screen-size-pc) {
                      width:calc(400px - 100px);
                    }
                  }

                  button {
                    width:100px;
                    font-size:14px;
                    height:36px;
                    border:1px solid #ccc;
                    border-left:none;
                    background:#fff;
                    vertical-align:top;

                    @media (min-width: $screen-size-pc) {
                      height:46px;
                    }

                    &.main {
                      background:#444;
                      border-color:#222;
                      color:#fff;
                    }
                  }
                }

                input[type=radio] {
                  display:none;
                }

                input[type=radio] + label {
                  font-size:14px;
                  display:inline-block;
                  background:#efefef;
                  line-height:32px;
                  margin:0 4px 4px 0;
                  border-radius:6px;
                  padding:0 10px;
                  border:2px solid transparent;
                  font-weight:500;
                  cursor:pointer;

                  @media (min-width: $screen-size-pc) {
                    font-size:16px;
                    line-height:42px;
                    padding:0 20px;
                  }

                }

                input[type=radio]:checked + label {
                  color:#0A79CE;
                  border-color:#0A79CE;
                }

                i.timer {
                  display:block;
                  font-style:normal;
                  padding:10px 0 0;
                  font-size:14px;
                  color:#D64646;

                  @media (min-width: $screen-size-pc) {
                    display:inline-block;
                    padding:0 0 0 20px;
                    font-size:16px;
                  }
                }
              }
            }

            div.radio-box {
              font-size:0;

              input[type=radio] {
                display:none;
              }

              input[type=radio] + label {
                font-size:14px;
                display:inline-block;
                background:#efefef;
                line-height:42px;
                width:50%;
                padding:0 10px;
                font-weight:500;
                margin:0 0 10px;
                cursor:pointer;
                text-align:center;

                @media (min-width: $screen-size-pc) {
                  font-size:16px;
                  line-height:52px;
                  padding:0 20px;
                  width:180px;
                }

                &:first-of-type {
                  border-radius:6px 0 0 6px;
                }

                &:last-of-type {
                  border-radius:0 6px 6px 0;
                }

              }

              input[type=radio]:checked + label {
                background:#0A79CE;
                color:#fff;
              }

            }

          }

          p.all-agree {
            // background:#f0f0f0;
            position:relative;

            border:1px solid #ccc;
            padding:20px;
            margin:0;
            @include drop-shadow($x:0,$y: 2px, $blur: 10px, $spread: 0, $alpha: 0.16);

            input {
              width:24px;
              height:24px;
            }

            label {
              vertical-align:top;
              line-height:24px;
              padding:0 0 0 6px;
              font-size:14px;
              font-weight:500;

              @media (min-width: $screen-size-pc) {
                font-size:16px;
              }

            }
          }

          div.attention-box {
            background:#f4f4f4;
            padding:20px;

            @media (min-width: $screen-size-pc) {
              padding:30px;
            }

            h5 {
              margin:0 0 10px;
              font-size:16px;
              font-weight:700;

              @media (min-width: $screen-size-pc) {
                font-size:18px;
                margin:0 0 20px;
              }
            }

            div.box {
              padding:10px;
              margin:0 0 10px;
              border:1px solid #ccc;
              background:#fff;
              height:120px;
              overflow-y:scroll;
              color:#666;

              @media (min-width: $screen-size-pc) {
                height:180px;
                padding:30px;
              }

              h6 {
                font-size:16px;
                margin:0 0 10px;
              }

              u {
                color:#444;
                font-weight:600;

              }

              table {
                border-top-color:#999;

                thead {
                  background:#eee;
  
                  th {
                    color:#444;
                  }
                }
              }
            }

            p.agree {
              margin:0 0 30px;

              input {
                width:24px;
                height:24px;
              }

              label {
                vertical-align:top;
                line-height:24px;
                padding:0 0 0 6px;
                font-size:14px;

                @media (min-width: $screen-size-pc) {
                  font-size:16px;
                }
  
              }
            }
          }

          ul.result-list {
            margin:0;
            padding:0;
            list-style:none;
            font-size:0;

            li {
              position:relative;
              border:2px solid #A1A1A1;
              @include drop-shadow($x:0,$y: 6px, $blur: 14px, $spread: 0, $alpha: 0.16);
              padding:20px;
              margin:0 0 20px;

              @media (min-width: $screen-size-pc) {

                margin:0 0 30px;
                padding:30px;

              }

              h4 {
                margin:0 0 24px;
                text-align:center;
                font-size:22px;
                color:#888888;
                font-weight:700;

                @media (min-width: $screen-size-pc) {
                  text-align:left;
                  font-size:27px;
                  margin:0 0 32px;
                }

                small {
                  display:block;
                  text-align:right;
                  color:#999999;
                  font-size:20px;
                  font-weight:700;
                  margin:10px 0 0;

                  @media (min-width: $screen-size-pc) {
                    position:absolute;
                    right:30px;
                    top:30px;
                  }

                }
              }

              dl {
                margin:0;
                padding:0;

                @media (min-width: $screen-size-pc) {

                }

                dt {
                  font-size:16px;
                  color:#222222;
                  font-weight:500;

                  @media (min-width: $screen-size-pc) {
                    float:left;
                    width:80px;
                  }
                }

                dd {
                  margin:0 0 16px;
                  font-size:16px;
                  color:#555555;

                  @media (min-width: $screen-size-pc) {
                    margin:0 0 10px 90px;
                  }
                }
              }


              span,
              a {
                display:block;
                text-align:center;
                font-size:16px;
                color:#999999;
                font-weight:700;
                line-height:48px;
                background:#E4E4E4;
                border-radius:6px;

                @media (min-width: $screen-size-pc) {
                  position:absolute;
                  right:30px;
                  bottom:30px;
                  line-height:64px;
                  padding:0 60px;
                }
              }

              a {
                background:#0A79CE;
                color:#fff;
              }

              &.ok {
                border-color:#222;


                h4 {
                  color:#222;

                  small {
                    color:#222;
                  }
                }

                a {
                  background-color:#D64646;

                  &.extension {
                    background-color:#0A79CE;
                    margin:0 0 10px;
                    border-radius:6px;
    
                    @media (min-width: $screen-size-pc) {
                      position:absolute;
                      right:220px;
                      bottom:30px;
                      line-height:64px;
                      padding:0 60px;
                      margin:0;
                    }
                  }
                }
              }

              &.wait {
                border-color:#80CE0A;


                h4 {
                  color:#222;

                  small {
                    color:#222;
                  }
                }

                a {
                  background-color:#D64646;
                }
              }

              &.complete {
                border-color:#0A79CE;


                h4 {
                  color:#222;

                  small {
                    color:#0A79CE;
                  }
                }
              }

              &.refund {
                border-color:#D64646;


                h4 {
                  color:#222;

                  small {
                    color:#D64646;
                  }
                }
              }

            }
          }

          div.total {
            background:#444;
            color:#fff;
            padding:20px;
            text-align:center;
            font-size:14px;

            @media (min-width: $screen-size-pc) {
              font-size:20px;
              padding:30px;
            }

            i.bx-pause-circle {
              transform:rotate(90deg);
            }

            p {
              margin:0;
              display:inline-block;

              strong {
                color:#FFE600;
              }

              &.total {
                display:block;
                font-size:20px;

                @media (min-width: $screen-size-pc) {
                  font-size:28px;
                }
                
                strong {
                  color:#FFB300;
                }
              }

            }

            p + p.total {
              margin-top:10px;

            }
          }

        }
      }
    }

  }



  /* footer */
  footer#footer {
    text-align: center;
    background: #2B2B2B;
    padding: 30px 0;
    word-break: keep-all;

    @media (min-width: $screen-size-pc) {
      padding: 30px 0;
    }

    div.container {
      font-size: 14px;
      padding-bottom: 30px;

      @media (min-width: $screen-size-pc) {
        padding-left:220px;
      }

      h2 {
        display:none;

        @media (min-width: $screen-size-pc) {
          display:block;
          font-size:0;
          width:150px;
          height:66px;
          position:absolute;
          left:0;
          top:0;
          background:url("../../images/parking/logo-footer.png") no-repeat center / 100% auto
        }
      }

      div.tools {
        font-size:0;
        margin:0 0 16px;
        text-align:center;

        @media (min-width: $screen-size-pc) {
          text-align:left;
        }

        a {
          display:inline-block;
          font-size:14px;
          color:#fff;
          font-weight:500;
          margin:0 10px 4px;
          line-height:34px;

          @media (min-width: $screen-size-pc) {
            margin:0 20px 0 0;
          }
        }
      }

      address,
      &>p {
        font-style: normal;
        color:#707070;
        font-size:14px;
        margin:0;
        word-break:keep-all;
        line-height: 1.6;


        p {
          margin: 0;

        }
      }
    }
  }
}
